
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* { 
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: black;
}
.container {
    width: 1024px;
    display: flex;
    background-color: white;
}

aside {
    background-color: #FBCADB;
    width: 30%;
}

main {
    width: 70%;
}

/* -------------------------------------------------------------------------Aside------------------------------------------------------------------------------------- */
.asideTitle{ 
    text-align: center;
    background-color: gray;
    padding: 10px;
    font-size: 24px;
    font-weight: 500;
}
 
 .asideText {
   margin-top: 20px;
   text-align: center; 
}

 .asideText p
 {
    padding: 10px 20px;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.05em;
 }
figure{
    height: 280px;
}

img {
    display: block;
    width: 195px;
    border-radius: 50%;
    margin: 55px auto;
}

.contact {
    height: 340px;
}

.about {
    height: 750px;
}

.hobbies {
    height: 180px;
}

.hobbies .icones {
    display: flex;
    justify-content: space-around;
    margin:30px;
}

.hobbies i {
    border: 2px solid black;
    border-radius: 50%;
    padding: 15px;
    background-color: white;
    font-size: 30px;
}

/* ---------------------------------------------------------------------------------main---------------------------------------------------------------------------------- */

/* ---------------------------header--------------------------------- */

main header {
    margin: 80px 0 60px 70px;
}

header h1 {
    font-weight:lighter;
    font-size: 48px;
    line-height: 56px;  
}

h1 span {
    font-weight: bold;
    color: #FBCADB ;
}

h2 {
font-weight: 500;
}

h2 span {
    border-bottom: 2px solid #FBCADB;
}

/* -------------------------article--------------------------------------- */
main article {
    padding:50px 30px;
    width: 90%;
}

/* ------------------------section---------------------------------------- */
main section {
    display: flex;
    padding-top: 40px;    
}
.sectionTitle {
    font-weight: 500;
    font-size: 24px;
    padding: 10px;
}

hr {
    border: 1px solid #FBCADB; ;
}

.sectionTitle i {
    font-size: 40px;
    padding-right: 30px;
    color: #FBCADB ;
}

li {
   list-style: none;
}

/* ------------------------date---------------------------------------- */
.dates {
    width: 40%; 
}

.dates i {
    margin-right: 10px;
    width: 15px;
    color:#FBCADB ;   
}
/* --------------------------details------------------------------------- */
.detail {
    width: 60%; 
}

.detail h4 {
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 5px;
}

.detail h5 {
    padding-bottom: 10px;
    font-weight: 300;
    font-size: 14px;
}

.detail p {
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.05em;

}

/* ---------------------------Recommandations---------------------------------- */

.recommendations {
   height: 250px;
}

.names {
    display: flex;   
}

.names ul {
    margin: 50px 100px 50px 0;
}

/* ------------------------------------------------------------------------------------Responsive--------------------------------------------------------------- */

@media all and (max-width: 1024px){ 
    body{
        background-color: inherit;
    }
    .container {
        flex-direction: column;
        width: auto;
    }
    /* -----------------------------------Aside------------------------------------- */
    aside {
        width: 100%;
    }

    .about {
        height: 250px;
    }

    .about p {
        text-align: justify;
        width: 80%; 
    }

    /* -----------------------------------Main------------------------------------ */
    main {  
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    main header {
        margin: 30px auto;
    }
    
    main section {
        flex-direction: column;
    }

    .sectionTitle {
        font-weight: 500;
        font-size: 24px;
        padding: 10px; 
        text-align: center;
    
    }

    hr {
        border: 1px solid #FBCADB;
        position: relative;
        width: 40%;  
    }

    .sectionTitle i {
        font-size: 40px;  
    }

    .dates {
        width: 100%;
        text-align: center;
    }

    .detail {
        width: 80%;
        display: flex;
        flex-direction: column;
        padding-top: 20px;   
    }

    .detail p {
        margin-top:20px;
        line-height: 20px;
    }

    .names ul {
        margin: 50px ;
    }
}





